:root {
    --vp-c-brand: #ea4442;
    --vp-c-brand-light: #ea4442;
    --vp-c-brand-dark: #ea4442;
    --vp-home-hero-name-color: #f06c6a;
}

a {
    border-radius: 5px !important;
}

a:hover {
    border-color: var(--vp-c-brand) !important;
}
